*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", "Arial","sans-serif";

}
.header{
    background-image: url("https://t4.ftcdn.net/jpg/03/56/86/91/240_F_356869117_mlWcweVux94r75FZ4BrI9aomqQ501tnd.jpg");
    background-size: cover;
    height: 700px;
}
.studio-name{
    color:white;
    padding-top: 30px;
    margin-left: 50px;
    font-size: 20px;
}
.icon-area{
    color:black;
    margin-left: 95%;
    position: absolute;
    top:30px;
    margin-right: 20px;
    font-size: 30px;
}
.work_container{
    color:white;
    padding-top: 10%;
    margin-left: 10%;
    font-size: 15px;
    
}
.create_container {
    color:white;
    font-size: 70px;
    margin-left: 10%;
    padding-top: 20px;
    
}
.list-boxes{
    height:auto;
    display:flex;
    justify-content: center;
    margin-top:-60px;
}
.box-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #80808099;
    height:350px;
    width:17%;
    margin:0 20px;
    background-color: white; 
}

.box-area span{
    background-color:#ff214f;
    border-radius: 50%;
    padding: 20px;
    color: #eee;
    fill: #ffffff;
}
.box-area span i{
    font-size: 30px;
}
.box-area p{
    opacity: 0.4;
    line-height: 25px;
    padding-top:20px ;
    text-align: center;
    
}
.box-area h4{
    padding-top: 20px;
}
.section1-container{
    display: flex;
    flex-direction: row;
    background-color: #F2F1F2;
    margin-top: 15px;
    }
.easy-text-card{
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 10px;
}
.section1-container img{
    height: 100vh;
    width: 50vw;
}
.section1-text-card{
    padding: 40px;
    margin-top: 170px;
}
.u-text {
    word-wrap: break-word;
    position: relative;
}
.u-text-1{
    color: #ff214f;
    word-wrap: break-word;
    position: relative;
    font-size: 30px;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 400;
}
.u-text-2 {
    margin: 20px 0 0;
    font-size: 1.5rem;
}
    .u-text-3 {
        margin: 40px 0 0;
        font-family: 'Open Sans',sans-serif;
        line-height: 1.8;
        color: #111111;
    }
    .u-text-4 {
        margin: 30px 0 0;
        font-size: 1.125rem;
        font-weight: bold;
    }
    .u-text-5 {
        font-size: 0.875rem;
        font-style: italic;
        margin: 20px 0 0;
        line-height: 1.8;
    }
    .section1-card{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        
    }
    
    .creative-solutions-card{
        margin-right:10px;
        background-color:  whitesmoke;
        border-radius: 10px;
        padding: 20px;
    }
    
    .clean-card{
        margin-left:10px;
        background-color:  whitesmoke;
        border-radius: 10px;
        padding: 20px;
    }
.smart-area p:nth-last-of-type(2){
    float:right;
    margin-right: 8%;
    padding-top: 50px;

} 
.para-area {
    text-align: right;
    width:25%;
    margin-left: 70%;
}
.smart-area{
    margin-right: 10%;
    line-height: 30px;
}
.smart-area h4{
    margin-left:70%;
    margin-top: 30px;

}
.nav-2{
    position:relative;
    background-color: white;
    margin: 10px;
    height: 250px;
    width: 300px;
    padding: 18px;
    margin-left:55%; 
    padding-top: 50PX;
    line-height: 30PX;
    font-style:italic;
}
.nav-3{
    position:relative;
    background-color: white;
    margin: 10px;
    height: 250px;
    width: 300px;
    padding: 18px;
    margin-left: 70px; 
    padding-top: 50PX;
    line-height: 30PX;
    font-style:italic;
}
.section{
    display: flex;
    flex-direction: row;
}
.img1-container{
    height: 400px;
    width: 500px;
}
.unique-area{
        position:relative;
        height:400px;
        width:500px;
        padding:20px;
        background-color: black;
        line-height: 25px;
}
.unique-area *{
    padding: 15px;
}
.unique-area h5{
    color:rgb(248,10,90);
    padding-top: 10px;
}
.unique-area h3  {
    color:white;
    
}
.unique-area p{
    color:white;
    padding-top: 10px;
}
.pink-area{
    color:rgb(208, 12, 126);
    text-align: center;
    padding-top: 40px;
    font-size: 25px;
}
.heading{
    text-align: center;
    padding-top: 20px;
}
.img_container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px; 
    padding-top: 20px
}
.servi_image{
    height: 350px;
    width:300px;
    border-radius: 10px; 
    padding: 20px; 
}
.pink{
    color:rgb(248,10,90);
    margin-left:0px;
    font-size: 30px;
}
.new-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
/* border: 2px solid black; */
}
.new-container h1{
    margin-right: 10px;
    padding-top: 20px;
}
.list-area{
    width: 50%;
    margin-top: 40px;
    margin-left: 360px;
}
.list-area ul li{
    list-style-type: none;
    font-size: 18px;
    line-height: 40px;
    padding-top: 20px;
} 
.productimg{
    height: 400px;
    width: 100%;
    margin-top: 5%;
}
.pink-container{
    color:rgb(248,10,90);
    margin-left: 100px;
    font-size: 20px;
    margin-top: 60px;
}
.digital-exp{
    width:100%;
    display:flex;
    background-color: lightgray;
}
.brand-area{
    width:50%;
}
.design-area{
    height:300px;
}
.design-area h1{
margin-left: 100px;
margin-top: 10px;
}
.best-container{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    
}
.best-area{
    height: 300px;
    width: 50%;
    padding: 30px;
    font-style: italic;
    list-style: none;
    line-height: 30px;
}
.img9-area{
    height:200px;
    width:50%; 
}
.img9-area img{
width:100%;
height:900px;
}
.img10-area{
    background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:cover;
    position:cover ;
    height:700px;
    width:100%; 
    padding-top: 270px;
    line-height: 50px;
} 
.service{
    border:1px solid  grey;
    width:35%;
    height:65%;
    align-items: center;
    position:relative;
    margin-left: 30%;
}
.value{
    color:rgb(248,10,90);
    text-align: center;
    padding-top: 30px;
}
.img10-area h1{
    text-align: center;
    color:white;
} 
.footer-area{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    padding:120px;
    color:white;
    line-height: 50px;
}
.heading-area{
    margin-top: 120px;
}
.map-container{
    width: 500px;
    height: 500px;
}
.heading-area p{
    color:rgb(248,10,90);
    text-decoration: none;
}
.footer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    height: 350px;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    color:white;
    background-color: #333333;
    line-height: 30px;
    list-style-type: none;
    font-size: 20px;
}
.footer ul li{
    list-style-type: none;
    margin-left: 30px;
    margin-right: 30px;
    
}



